@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary-color: #fff;
    --secondary-color: rgba(245, 245, 245);
    --text-hover: #8d8986;
    --button-active: rgba(167, 166, 166, 0.86);
    --primary-border: #8d8986;
    --universal-color: #000;
    --reverse-universal-color: #fff;
    --tertiary-color: rgba(245, 245, 245);
    --text-primary: #000;
    --text-secondary: #000;
    --popup-color: rgba(225, 225, 225, 0.75);
    --popup-border: #8d8986;
    --input-bg: #fff;
    --plan-description: #000;
    --plan-loader-color: #8d8986;
    --chat-bg: #fff;
  }
  .dark {
    --primary-color: #0e0d0d;
    --secondary-color: #191819;
    --text-hover: #8d8986;
    --button-active: #007aff;
    --primary-border: #373737;
    --universal-color: #fff;
    --reverse-universal-color: #000;
    --tertiary-color: #212121;
    --text-primary: #e0e0df;
    --text-secondary: #8a8683;
    --popup-color: #222222;
    --popup-border: #212121;
    --input-bg: #383838;
    --plan-description: #838994;
    --plan-loader-color: #9c9c9c;
    --chat-bg: #191918;
  }
}


/* Define the custom properties (variables) */
.overflow-y-auto {
  --sb-track-color: #232E33; /* Track color */
  --sb-thumb-color: #84928b; /* Thumb color */
  --sb-size: 4px; /* Thin scrollbar size */
  overflow-y: auto; /* Ensure the overflow behavior is set */
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.overflow-y-auto::-webkit-scrollbar {
  width: var(--sb-size); /* Thin scrollbar width */
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: var(--sb-track-color); /* Track color */
  border-radius: 3px; /* Rounded edges */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color); /* Thumb color */
  border-radius: 3px; /* Rounded edges */
}

/* Firefox support */
@supports not selector(::-webkit-scrollbar) {
  .overflow-y-auto {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color); /* Thumb and track colors */
  }
}

@layer base {
  body {
    @apply bg-app-primary;
  }
}
