@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary-color: #fff;
    --secondary-color: rgba(245, 245, 245);
    --text-hover: #8d8986;
    --button-active: rgba(167, 166, 166, 0.86);
    --primary-border: #8d8986;
    --universal-color: #000;
    --reverse-universal-color: #fff;
    --tertiary-color: rgba(245, 245, 245);
    --text-primary: #000;
    --text-secondary: #000;
    --popup-color: rgba(225, 225, 225, 0.75);
    --popup-border: #8d8986;
    --input-bg: #fff;
    --plan-description: #000;
    --plan-loader-color: #8d8986;
  }
  .dark {
    --primary-color: #0e0d0d;
    --secondary-color: #191819;
    --text-hover: #8d8986;
    --button-active: #007aff;
    --primary-border: #373737;
    --universal-color: #fff;
    --reverse-universal-color: #000;
    --tertiary-color: #212121;
    --text-primary: #e0e0df;
    --text-secondary: #8a8683;
    --popup-color: #222222;
    --popup-border: #212121;
    --input-bg: #383838;
    --plan-description: #838994;
    --plan-loader-color: #9c9c9c;
  }
}

@layer base {
  body {
    @apply bg-app-primary;
  }
}
